body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F6E7C1; /* Vanilla - You */
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f; /* Red big text */
}

.sub-love-text {
    color: #000000; /* Black medium text */
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.gif_container img {
    width: 100%;
    max-width: 500px;
    height: auto;
}
